<div class="container">
    <div class="row well well-lg p-5 my-3 bg-faded">
        <div class="col-md-2">
            {{#if this.user.picture}}
                <img class="circle-image" src="{{this.user.picture}}" >
            {{else}}
                <div id="defaultimg" >
                    {{#with this.user}}
                    {{/with}}
                </div>
            {{/if}}
        </div>
        <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>{{this.user.name}}</b>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
        </div>
        <div class="col-md-2">
                <div class="panel panel-default">
                    BOOKS
                </div>
                <div class="panel-body">
                    {{#each books}}
                        <p><b>*{{this.name}}</b></p>
                    {{/each}}
                </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                TOOLS
            </div>
            <div class="panel-body">
                 <p></p>
            </div>

        </div>

    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{#each books}}
                   {{this.name}}
                {{/each}}
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>

        </div>
    </div>


</div>
<script>
    count =0;
    window.onload =  function () {
        if(count==0)
             sweetAlert("Welcome","To BookSeller","success");
        else
            count++;

    };
</script>